body{
	--app-primary-color: #E91E63;
	--app-secondary-color: #293237;
	--app-dark-text-color: var(--app-secondary-color);
	--app-light-text-color: white;
	--app-header-background-color: var(--app-primary-color);
	margin: 0;
}